<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExmonSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<appSettings>
    <add key="DatabaseInitializerForType ExmonSystem.Models.MyDbContext, ExmonSystem.Models"
            value="ExmonSystem.Models.CustomDbInitializer, ExmonSystem.Models" />
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=.;Initial Catalog=ExmonSystemDB;User ID=sa;Password=123;"
      providerName="system.data.SqlClient" />
    <add name="ln" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ExmonSystemDB;Integrated Security=true;"
      providerName="system.data.SqlClient" />
    <add name="baracode_product" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|baracode_product.xml;read only=True" />
    <add name="myVoucher" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|myVoucher.xml;read only=True" />
    <add name="AccountsDebitReport" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|AccountsDebitReport.xml;read only=True" />
    <add name="ItemsStock" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|ItemsStock.xml;read only=True" />
    <add name="PrescriptionRoll" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|PrescriptionRoll.xml;read only=True" />
    <add name="AccountsReport2" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|AccountsReport.xml;read only=True" />
    <add name="ItemsExp" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|ItemsExp.xml;read only=True" />
    <add name="ProfitsReports" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|ProfitsReports.xml;read only=True" />
    <add name="AccountsSummayReport" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|AccountsSummayReport.xml;read only=True" />
    <add name="TaxReports" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|TaxReports.xml;read only=True" />
    <add name="BillsReports" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|BillsReports.xml;read only=True" />
    <add name="myBillReports" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|myBillReports.xml;read only=True" />
    <add name="AccountsData" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|AccountsData.xml;read only=True" />
    <add name="AccountsReport" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|AccountsReport.xml;read only=True" />
    <add name="ParcelMultiRpt" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|ParcelMultiRpt.xml;read only=True" />
    <add name="Customers" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|Customers.xml;read only=True" />
    <add name="OrdersRpt" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|OrdersRpt.xml;read only=True" />
    <add name="CustomersExport" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|CustomersExport.xml;read only=True" />
    <add name="ExCompanyAccount" connectionString="XpoProvider=InMemoryDataStore;data source=|DataDirectory|ExCompanyAccount.xml;read only=True" />
  </connectionStrings>
  <userSettings>
    <ExmonSystem.Properties.Settings>
      <setting name="PRINTER_CUSTOM" serializeAs="String">
        <value />
      </setting>
      <setting name="PRINTER_PARACOD" serializeAs="String">
        <value />
      </setting>
      <setting name="PARACOD_CHK_COMPANY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PARACOD_CHK_PRICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COMPANY" serializeAs="String">
        <value />
      </setting>
      <setting name="PRINTER_Roll" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANYEn" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyDetailsAr" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyDetailsEn" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyPhons" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyTaxNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>ar</value>
      </setting>
      <setting name="PropHReportsHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="itemId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="itemNo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="itemName" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckAllowSaleNegativeQty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckAllowSaleUnderCost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckAllowBillEditDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropValueServicePurchase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropValueServiceSales" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropValueTaxPurchase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropValueTaxSales" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CheckSaleTaxIncludPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckPurchaseTaxIncludPrice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckPurchaseAppTax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckSalesAppTax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UnitName" serializeAs="String">
        <value />
      </setting>
      <setting name="BillId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CheckItemCostUpdateWithPurchase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropBAccountCash" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropBAccountSales" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropBAccountPurchase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropBAccountBank" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropMainAccountCustomers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropMainAccountSuplier" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropMainAccountExpens" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropMainAccountCashes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropNumricPrintPos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropNumricPrintInvoice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropLogoName" serializeAs="String">
        <value />
      </setting>
      <setting name="PropBackUpPath" serializeAs="String">
        <value>D:\</value>
      </setting>
      <setting name="PropAutoBackupinClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>Office 2016 Black</value>
      </setting>
      <setting name="IsInitialize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSerialColumn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowPrescription" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MizanAllowUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MizanItemQty" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MizanItemlength" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MizanStarts" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="PropActv" serializeAs="String">
        <value />
      </setting>
      <setting name="PropVerisonSleep" serializeAs="String">
        <value />
      </setting>
      <setting name="Propfree" serializeAs="String">
        <value />
      </setting>
      <setting name="VersonNo" serializeAs="String">
        <value>1042</value>
      </setting>
      <setting name="PropValueExpensesTax" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="PropBExpensesTaxAccount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConType" serializeAs="String">
        <value>Local</value>
      </setting>
      <setting name="ConName" serializeAs="String">
        <value>ln</value>
      </setting>
      <setting name="CheckAllowSaleUnderLessPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropBDiscountCustomerAccount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropBDiscountSuplierAccount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CheckItemPriceUpdateWithPurchase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckUnitPriceUpdateWithItemPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckAllowBillPurchaseEditDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QtyDecimalPlaces" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PriceDecimalPlaces" serializeAs="String">
        <value>0</value>
      </setting>
    </ExmonSystem.Properties.Settings>
  </userSettings>
</configuration>